@import "base/variables"
@import "base/keyframes"
@import "base/mixins"
@import "libs/bootstrap-reboot.min"
@import "libs/fonts"


*
    font-family: "Roboto", sans-serif


body
    overflow-x: hidden

.container
    width: 1440px
    margin: 0 auto
.mobile-blocks
    display: none
    &__button
        display: none
.hamburger
    display: none

@import "blocks/promo"
@import "blocks/header"
@import "blocks/menu"
@import "blocks/button"
@import "blocks/mobile"
@import "blocks/metrics"
@import "blocks/title"
@import "blocks/help"
@import "blocks/explore"
@import "blocks/price"
@import "blocks/form"
@import "blocks/modal"
@import "blocks/choose"
@import "blocks/socials"
@import "blocks/footer"

@import "blocks/media"

