.header
    padding: 0 50px
    max-width: 1790px
    margin: 0 auto
    display: flex
    justify-content: space-between
    align-items: center
    
    &__logo
        display: flex
        column-gap: 10px
        &_small
            display: none
    &__name
        width: 230px
    &__nav
        display: flex
        flex-direction: column
    &__info
        padding-right: 80px
        display: flex
        justify-content: flex-end
        column-gap: 48px
        color: #fff
        font-weight: 400
        font-size: 18px
        line-height: 26px
        
    &__phone
        text-decoration: none
        color: #fff
        &:hover
            color: $main_color
    &__lang
        position: relative
        padding-right: 20px
        text-decoration: none
        color: #fff
        &:hover
            color: yellow
        &::after
            content: url('../icons/promo/Arrow.svg')
            position: absolute
            top: 0
            right: 0
    &__enter
        text-decoration: none
        color: #fff
        &:hover
            color: #fff
    