.modal
    display: none
    position: absolute
    width: 410px
    height: 800px
    bottom: 10px
    right: 135px
    padding: 190px 20px 110px 20px   
    // box-shadow: 2px -2px 5px #F1F1F1, -2px 2px 5px #F1F1F1
    // border-radius: 30px
    background-color: #f8f8f8
    &__subtitle
        margin-top: 15px
    &_btn
        margin-top: 55px